# Xcode
DerivedData/
build/
*.xcworkspace
!*.xcodeproj
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
*.swp
*.swo
*~
.idea/
.vscode/
